*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif, 'Arial';
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: end;
  gap: 30px;
  width: 1140px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
}

.search-form__label {
  display: flex;
  align-items: center;
  column-gap: 5px;
  width: fit-content; /*подогнать ширину контейнера под размеров внутр эл-ов*/
}

.search-form__label-text {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

/* выберем все элементы класса .search-form__label-text
внутри .search-form__label */

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  cursor: pointer;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield {
  min-width: 225px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: inherit;
  font-family: inherit; /* 'Fira Sans Condensed' */
  font-size: inherit; /* 18px */
  line-height: normal; 
  background-color: transparent;
  appearance: none; /* так в разных браузерах будут нужные стили */
}

.search-form__textfield::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

/* стилизация кнопки в тот момент, когда на кнопку уже 
нажали, но ещё не отпустили клавишу мыши - активное состояние*/

.search-form__textfield:active {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}

.search-form__checkbox-list {
  /* выстроить чекбоксы в линию */
  display: flex;
  column-gap: 15px;
}

.search-form__checkbox {
  margin-left: 5px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  outline: 1px solid #fff; 
  cursor: pointer;
}

/* активный чекбокс */

input[type='checkbox']:checked + ::after {
  content: '';
  display: block;
  width: 17px;
  height: 17px;
  margin: 1px;
  background-color: #fff;
}

/* основной класс для кнопок */

.button {
  min-height: 34px;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif, 'Arial';
  font-weight: 700;
  font-size: 18px;
  line-height: normal;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  text-decoration: none;
  background: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* кнопка найти */

.search-form__submit-button {
  align-self: end;
  width: 194px;
}

/* кнопка показать ещё */

.more-button {
  width: 399px;
}

.more-button:focus-visible {
  margin: 2px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  max-width: 100%;
  max-height: 100%;
}

.title {
  font-family: 'Oswald', sans-serif, 'Arial';
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  height: 298px;
  overflow-y: auto;
}

.content__list-item {
  padding: 2px;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link {
  display: block;
  color: #fff;
  text-decoration: none;
  width: 100%;
}

.content__card-link:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
  cursor: pointer;
}

.content__card-link:active {
  text-decoration: none;
  background: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  align-items: start;
}

.content__video-card-description-container {
  flex-grow: 1; /* возможность занимать всё доступное пространство*/
}

.content__video-card-title {
  margin-bottom: 6px;
  font-family: 'Oswald', sans-serif, 'Arial';
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  line-height: 30px; 
  text-transform: uppercase;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 16.2px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}